ANTHROPIC_API_KEY=sk-ant-...

GOOGLE_SHEET_ID=1BxiMVs0XRA5nFMdKvBdBZjgmUUqptlbs74OgVE2upms
GOOGLE_SERVICE_ACCOUNT={"type":"service_account","project_id":"...","private_key":"...","client_email":"...@proyecto.iam.gserviceaccount.com"}
